name: weekly-refresh
run-name: weekly-refresh
on:
  workflow_dispatch:
  schedule:
    # At 04:00 on Monday
    - cron: '35 11 * * 6'
jobs:
  action:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./assets
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v4
      - name: Run a script
        run: bash refresh.sh
